*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #f2f2f2;
}

#navbar {
	height: 70px;
	width: 100%;
	background: #000066;
	box-sizing: border-box;
	box-shadow: 0px 5px 15px;
	position: fixed;
	color: #000066;
}

#navbar h3 {
	color: #fff;
	float: left;
	margin-top: 18px;
	margin-left: 20px;
	font-size: 25px;
	cursor: pointer;
}

#navbar ul {
	list-style-type: none;
	float: right;
	margin-top: 12px;
	margin-right: 30px;
	display: flex;
}

#navbar ul li {
	padding: 5px 8px;
}

#navbar ul li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 10px;
	border: 2px solid #fff;
	color: #fff;
}

#navbar ul li a:hover {
	background:  #ff0000;
}

#navbar ul li a.active {
	background:  #ff0000;
}

.logbox {
	height: 450px;
	width: 30%;
	background: #fff;
	float: left;
	margin-left: 35%;
	box-sizing: border-box;
	box-shadow: 0px 2px 8px;
	border-radius: 2px 2px 2px 2px;
	margin-top: 170px;
	color: #000066;
}

.uperlogo {
	height: 100px;
	width: 30%;
	float: left;
	margin-left: 35%;
	box-sizing: border-box;
	box-shadow: 0px 2px 8px;
	border-radius: 50% 50% 50% 50%;
	margin-top: -50px;
	background-size: cover;
	font-size: 50px;
	color: #000066;
	background: url(https://bit.ly/3eE5AWf);
	background-size: cover;
}

.logbox h4 {
	color: #000066;
	margin-top: 80px;
	text-align: center;
	font-size: 23px;
}

.logbox p {
	color: #333333;
	margin-top: 20px;
	font-size: 14px;
	float: left;
	margin-left: 20px;
	font-weight: bold;
	font-family: sans-serif;
}

.logbox .mobile {
	width: 80%;
	height: 20px;
	float: left;
	margin-left: 10%;
	margin-top: 30px;
	text-align: center;
	padding: 5px;
}

.logbox .submit {
	width: 84%;
	height: 42px;
	float: left;
	margin-left: 10%;
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
	background: #000066;
	border: 1px solid #000066;
	color: #fff;
	border-radius: 4px 4px 4px 4px;
}

.logbox .submit:hover{
	background: #0000b3;
	transition: 0.6s ease;
}


#navbar2 {
	height: 70px;
	width: 100%;
	background: #000066;
	box-sizing: border-box;
	box-shadow: 0px 5px 15px;
	color: #000066;
	position: fixed;
}

#navbar2 h2 {
	color: #fff;
	font-size: 25px;
	float: left;
	margin-top: 18px;
	margin-left: 20px;
	cursor: pointer;
}

#navbar2 ul {
	float: right;
	list-style-type: none;
	display: flex;
	margin-top: 18px;
	margin-right: 20px;
}

#navbar2 ul li {
	padding: 5px 12px;
}

#navbar2 ul li a {
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
	padding: 10px 12px;
	font-weight: bold;
}

#navbar2 ul li a:hover {
	background: red;
}

.searchbox {
	height: 50px;
	width: 304px;
	background: ;
	float: left;
	margin-top: 100px;
	margin-left: 30px;
}

.searchinput {
	height: 45px;
	width: 220px;
	padding: 0px 15px;
	font-size: 25px;
	border: 1.6px solid #000;
}

.searchbtn {
	height: 48px;
	width: 50px;
	float: right;
	background: url(../images/search.png);
	background-size: cover;
	border: 1.6px solid #000;
}



.registerbox {
	height: 550px;
	width: 50%;
	float: left;
	margin-left: 25%;
	margin-top: 100px;
	border: 5px solid #000066;
	border-radius: 7px;
	box-sizing: border-box;
	box-shadow: 0px 5px 15px;
}

.registerbox .inputbox {
	float: left;
	height: 30px;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	border: 2px solid #000066;
	margin-top: 20px;
	border-radius: 3px;
	padding: 5px;
	font-size: 20px;
}

.registerbox .inputbox:hover {
	border: 2px solid #e60000;
}

.submitbt {
	float: left;
	height: 40px;
	width: 72%;
	margin-left: 15%;
	text-align: center;
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
	color: #fff;
	background: red;
}

